*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',
    sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h2 {
    color: #303030;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
    font-family: 'Roboto',
    sans-serif;
}
.active{
    display: block !important;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1165px;
    }
}