<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
@@include('./include/header.html')

<section class="button">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center section-title">
                <h2>Buttons</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="button__btn-wrap col-xl-8 col-lg-8 d-flex justify-content-center">
                <button type="button" class="btn btn-primary button__btn">Primary</button>
                <button type="button" class="btn btn-outline-primary button__btn">Default</button>
                <button type="button" class="btn btn-success button__btn">Success</button>
                <button type="button" class="btn btn-info button__btn">Info</button>
                <button type="button" class="btn btn-warning button__btn">Warning</button>
                <button type="button" class="btn btn-danger button__btn">Danger</button>
            </div>
        </div>
    </div>
</section>

<section class="inputs">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center section-title">
                <h2>Inputs</h2>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center inputs__wrap">
        <div class="row d-flex justify-content-center col-xl-6 col-lg-12 col-md-12 col-sm-12 inputs__inner">
            <div class="checkbox__wrap inputs__item">
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="checkbox-1">
                    <label class="checkbox__label" for="checkbox-1">Checkbox Active</label>
                </div>
                <div class="checkbox">
                    <input class="checkbox__input" type="checkbox" id="checkbox-2">
                    <label class="checkbox__label" for="checkbox-2">Checkbox</label>
                </div>
            </div>
            <div class="radio__wrap inputs__item">
                <div class="radio">
                    <input class="radio__input" type="radio" name="radio" id="radio-1">
                    <label class="radio__label" for="radio-1">Radio Active</label>
                </div>
                <div class="radio">
                    <input class="radio__input" type="radio" name="radio" id="radio-2">
                    <label class="radio__label" for="radio-2">Radio</label>
                </div>
            </div>
            <div class="switcher__wrap inputs__item">
                <div class="switcher">
                    <input class="switcher__input" type="checkbox" id="switcher-1">
                    <label class="switcher__label" for="switcher-1">Switcher ON</label>
                </div>
                <div class="switcher">
                    <input class="switcher__input" type="checkbox" id="switcher-2">
                    <label class="switcher__label" for="switcher-2">Switcher OFF</label>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="star-rating">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center section-title">
                <h2>Star rating</h2>
            </div>
        </div>
    </div>
    <div class="container star-rating__inner">
        <div class="star-rating__wrap row d-flex justify-content-center align-items-center star-left-pos">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10 d-flex justify-content-center align-item-center star-left-pos">
                <div class="rating d-flex ">
                    <input class="star-rating__input" type="radio" name="star" id="star-1" value="1">
                    <label class="star-rating__label" for="star-1"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-2" value="2">
                    <label class="star-rating__label" for="star-2"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-3" value="3">
                    <label class="star-rating__label" for="star-3"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-4" value="4">
                    <label class="star-rating__label" for="star-4"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-5" value="5">
                    <label class="star-rating__label" for="star-5"></label>
                </div>
                <span class="star-rating__text">Show rating</span>
            </div>
        </div>
        <div class="star-rating__wrap row d-flex justify-content-center align-items-center star-left-pos">
            <div class="col-xl-4 d-flex justify-content-center align-item-center star-left-pos">
                <div class="rating d-flex ">
                    <input class="star-rating__input" type="radio" name="star" id="star-1" value="1">
                    <label class="star-rating__label" for="star-1"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-2" value="2">
                    <label class="star-rating__label" for="star-2"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-3" value="3">
                    <label class="star-rating__label" for="star-3"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-4" value="4">
                    <label class="star-rating__label" for="star-4"></label>
                    <input class="star-rating__input" type="radio" name="star" id="star-5" value="5">
                    <label class="star-rating__label" for="star-5"></label>
                </div>
                <span class="star-rating__text">Check rating</span>
            </div>
        </div>
    </div>
</section>

<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center section-title">
                <h2>Carousel</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row  d-flex justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12 col-12">
                <div id="my-carousel" class="owl-carousel">
                    <div class="item">
                        <div class="slider-item__wrap">
                            <img class="slider-item__img-avatar" src="../images/slider-img-1.png" alt="avatar">
                            <div class="slider-item__content">
                                <p class="slider-item__content-comment">
                                    When I started, I weighed over 425 pounds.
                                    What matters is that you take the steps and focus
                                    on making one good choice at a time.
                                </p>
                                <div class="slider-item__content-author">
                                    Chewbacca
                                </div>
                                <div class="slider-item__content-date">
                                    July 2017
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item__wrap">
                            <img class="slider-item__img-avatar" src="../images/slider-img-2.png" alt="avatar">
                            <div class="slider-item__content">
                                <p class="slider-item__content-comment">
                                    When I started, I weighed over 425 pounds.
                                    What matters is that you take the steps and focus
                                    on making one good choice at a time.
                                </p>
                                <div class="slider-item__content-author">
                                    Darth Vader
                                </div>
                                <div class="slider-item__content-date">
                                    July 2018
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item__wrap">
                            <img class="slider-item__img-avatar" src="../images/slider-img-3.png" alt="avatar">
                            <div class="slider-item__content">
                                <p class="slider-item__content-comment">
                                    When I started, I weighed over 425 pounds.
                                    What matters is that you take the steps and focus
                                    on making one good choice at a time.
                                </p>
                                <div class="slider-item__content-author">
                                    Yoda
                                </div>
                                <div class="slider-item__content-date">
                                    July 2019
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider-item__wrap">
                            <img class="slider-item__img-avatar" src="../images/slider-img-4.png" alt="avatar">
                            <div class="slider-item__content">
                                <p class="slider-item__content-comment">
                                    When I started, I weighed over 425 pounds.
                                    What matters is that you take the steps and focus
                                    on making one good choice at a time.
                                </p>
                                <div class="slider-item__content-author">
                                    Android
                                </div>
                                <div class="slider-item__content-date">
                                    July 2020
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="navigation-img-wrapper">
                    <div class="navigator" data-item="0">
                        <img class="slider__img-navigator" src="../images/slider-subImg-1.png" alt="img-navigator">
                    </div>
                    <div class="navigator" data-item="1">
                        <img class="slider__img-navigator" src="../images/slider-subImg-2.png" alt="img-navigator">
                    </div>
                    <div class="navigator" data-item="2">
                        <img class="slider__img-navigator" src="../images/slider-subImg-3.png" alt="img-navigator">
                    </div>
                    <div class="navigator" data-item="3">
                        <img class="slider__img-navigator" src="../images/slider-subImg-4.png" alt="img-navigator">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map .container-fluid" id="map">
</section>

@@include('./include/footer.html')
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdcSeRpOxoVceQ8ZXe4Y8hUR6r_E7hJ_c&callback=initMap" async
    defer></script>
<script src="js/all.js"></script>
</body>
</html>