<footer class="footer">
    <div class="container">
        <div class="row footer__order">
            <div class="panel col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12 footer__order-item">
                <div class="footer__wrap footer__wrap-adaptive">
                    <div class="panel-heading">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Shop</a>
                    </div>
                    <div class="panel-collapse">
                        <ul class="footer__list">
                            <li class="panel-link"><a class="footer__list-link" href="#">Browse By Holidays</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Browse By Brand</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Gift of the Month Clubs </a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Customized Bottles</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Corporate Gifts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12 footer__order-item">
                <div class="footer__wrap footer__wrap-adaptive">
                    <div class="panel-heading">
                        <a href="#"><i class="fa fa-shopping-cart"></i>About</a>
                    </div>
                    <div class="panel-collapse">
                        <ul class="footer__list">
                            <li class="panel-link"><a class="footer__list-link" href="#">About Spirited Gifts</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Read our Blog</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">About our Selection</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Read our Reviews</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Shipping & Returns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12 footer__order-item">
                <div class="footer__wrap footer__wrap-adaptive">
                    <div class="panel-heading">
                        <a href="#"><i class="fa fa-shopping-cart"></i>More</a>
                    </div>
                    <div class="panel-collapse">
                        <ul class="footer__list">
                            <li class="panel-link"><a class="footer__list-link" href="#">Privacy Policy</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Retailer Network</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Help and FAQs</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Scholarship</a></li>
                            <li class="panel-link"><a class="footer__list-link" href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 footer__order-item">
                <div class="footer__wrap footer__wrap-adaptive">
                    <div class="footer__title">
                        Follow us
                    </div>
                    <ul class="footer__list footer__list-social">
                        <li><a class="footer__link-social footer__fb" href="#"></a></li>
                        <li><a class="footer__link-social footer__tw" href="#"></a></li>
                        <li><a class="footer__link-social footer__inst" href="#"></a></li>
                        <li><a class="footer__link-social footer__pint" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</footer>