<header class="header">
    <nav class="header__nav-global">
        <div class="container header__container-top">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="header__burger-wrap col-md-1 col-sm-2 col-2">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-9 col-9 mr-auto">
                    <a class="header__logo"></a>
                </div>
                <div class="header__form-icon"></div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-1 header__form-wrap">
                    <form class="form-inline my-2 my-lg-0 d-flex header__form">
                        <input class="form-control mr-sm-0 header__search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 header__search-btn" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="header__menu-wrap" id="header-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light header__navbar">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="header__burger"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="header__menu navbar-nav d-flex justify-content-center align-items-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Help & FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
</header>